@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url('../images/sprites/#{$sprite-image}');
}

// @include sprite($sprite);
@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}


@mixin sprite-adaptive($sprite){
  &::after {
    $sprite-image: nth($sprite, 9);

    $sprite-file: '../images/sprites/#{$sprite-image}';
    $icon-width: strip-units(nth($sprite, 5));
    $icon-height: strip-units(nth($sprite, 6));

    $sprite-width: strip-units(nth($sprite, 7));
    $sprite-height: strip-units(nth($sprite, 8));

    $space-top: strip-units(nth($sprite, 2));

    background: url('../images/sprites/#{$sprite-image}') no-repeat;

    width: percentage($sprite-width / $icon-width);

    content: ' ';
    display: inline-block;
    height: 0;
    max-width: 100%;
    padding-bottom: percentage($icon-height / $icon-width);
    background-size: percentage($sprite-width / $icon-width);
    background-position: 0 percentage( $space-top / ( $sprite-height - $icon-height ));
  }
}