$site-width: 1200px;
$gutter: 15px;

$main-blue-color: #48689a;
$smoky-blue-color: #8a9ab3;
$dark-blue-color: #15232d;
$very-dark-blue-color: #1f2b34;

$light-gray-color: #eee;
$background-gray-color: #f7f7f7;
$dark-gray-color: #606a70;
$yellow-gray-color: #f7f6f3;
$orange-gray-color: #faf9f8;

$white-color: #fff;

$font-family: RobotoSlab, sans-serif;
$font: RobotoSlab;
$logo-font-family: oswald, sans-serif;