$site-width: 1200px;
$gutter: 15px;

$greenish-blue-color: #18abb7;

$main-blue-color: #48689a;
$smoky-blue-color: #8a9ab3;
$dark-blue-color: #15232d;
$saphire-blue-color: #1f2b34;

$gray-color-color: #eee;
$alabaster-color: #f7f7f7;
$smoky-alabaster-color: #f9f9f9;
$dark-gray-color: #606a70;
$smoky-white-color: #f7f6f3;
$light-gray-color: #faf9f8;

$shale-gray-color: #3c4852;

$white-color: #fff;

$font-family: RobotoSlab, sans-serif;
$font: RobotoSlab;
$logo-font-family: oswald, sans-serif;