.logo {
  display: inline-block;

  font-family: $logo-font-family;
  font-size: 30px;
  color: $main-blue-color;
  text-decoration: none;

  &_with-border {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $greenish-blue-color;

    width: 160px;
    height: 50px;

    border: 2px solid $greenish-blue-color;
  }
}