+b.article-item
    +e.a-side
        +e.date
            +e.date-text 26 feb
        +e.img-wrap
            +e.img( src = 'http://via.placeholder.com/250x160')
    +e.b-side
        +e.title 4 Denim Shapes Worth Hanging Up Your SKINNY JEANS
        +e.author Admin
        +e.social-icons
            +e.icon
                .spr-social.spr-facebook-logo
            +e.icon
                .spr-social.spr-twitter-bird-logo
            +e.icon
                .spr-social.spr-google-plus
        +e.read-more( href = "#" ) Read full article...