+b.product-item
    +e.img-wrap
        +e.img-outer
            +e.img-inner
                +e.img
    +e.action_views
        +e.text 228
        +e.icon
            svg(class="svg-icon svg-icon-eye")
                use(xlink:href='#eye')
    +e.action_like
        +e.text 100
        +e.icon
            svg(class="svg-icon svg-icon-heard")
                use(xlink:href='#heard')
    +e.action_to-card
        +e.text Add to cart
        +e.icon
            svg(class="svg-icon svg-icon-card")
                use(xlink:href='#card')
    +e.price $511