include pug/bemto/bemto

doctype html
html(lang='ru')
    head
        include pug/meta/_head
    body
        include pug/svg/svg
        include pug/partials/_header
        include pug/_index
        include pug/meta/_scripts