.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.svg-icon-search {
  fill: $smoky-blue-color;
}

.svg-icon-headphones {
  font-size: 3.3rem;
}

.svg-icon-truck {
  font-size: 3.3rem;
}

.svg-icon-house {
  font-size: 3.3rem;
}

.svg-icon-card {
  font-size: 2rem;
  fill: $dark-blue-color;
}

.svg-icon-heard {
  font-size: 3rem;
  fill: $dark-blue-color;
}

.svg-icon-eye {
  font-size: 2.3rem;
  fill: $dark-blue-color;
}