.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  font-size: 1em;
}

.svg-icon-search {
  fill: $smoky-blue-color;
}

.svg-icon-headphones {
  font-size: 3.3rem;
}

.svg-icon-truck {
  font-size: 3.3rem;
}

.svg-icon-house {
  font-size: 3.3rem;
}

.svg-icon-card {
  font-size: 2rem;
  fill: $dark-blue-color;
}

.svg-icon-heard {
  font-size: 3rem;
  fill: $dark-blue-color;
}

.svg-icon-eye {
  font-size: 2.3rem;
  fill: $dark-blue-color;
}

.spr-visa {
  @include sprite-adaptive($spr-visa-icon);
}

.spr-paypal {
  @include sprite($spr-paypal-icon);
}

.spr-mastercard {
  @include sprite($spr-mastercard-icon);
}

.spr-citi {
  @include sprite($spr-citi-icon);
}

.spr-amazon {
  @include sprite($spr-amazon-icon);
}

.spr-big-youtube-logo {
  @include sprite-adaptive($spr-big-youtube-logo);

  &:hover {
    @include sprite-adaptive($spr-big-youtube-logo_hover);
  }
}

.spr-facebook-logo {
  @include sprite-adaptive($spr-facebook-logo);

  &:hover {
    @include sprite-adaptive($spr-facebook-logo_hover);
  }
}

.spr-google-plus {
  @include sprite-adaptive($spr-google-plus);

  &:hover {
    @include sprite-adaptive($spr-google-plus_hover);
  }
}

.spr-linkedin-logo {
  @include sprite-adaptive($spr-linkedin-logo);

  &:hover {
    @include sprite-adaptive($spr-linkedin-logo_hover);
  }
}

.spr-twitter-bird-logo {
  @include sprite-adaptive($spr-twitter-bird-logo);

  &:hover {
    @include sprite-adaptive($spr-twitter-bird-logo_hover);
  }
}
