$spr-amazon-icon : (0px, 0px, 0px, 0px, 29px, 20px, 512px, 1069px, 'sprite.png');
$spr-bag : (0px, 557px, 0px, -557px, 512px, 512px, 512px, 1069px, 'sprite.png');
$spr-big-youtube-logo : (0px, 389px, 0px, -389px, 40px, 40px, 512px, 1069px, 'sprite.png');
$spr-big-youtube-logo_hover : (0px, 137px, 0px, -137px, 40px, 40px, 512px, 1069px, 'sprite.png');
$spr-citi-icon : (0px, 88px, 0px, -88px, 30px, 20px, 512px, 1069px, 'sprite.png');
$spr-facebook-logo : (0px, 431px, 0px, -431px, 40px, 40px, 512px, 1069px, 'sprite.png');
$spr-facebook-logo_hover : (0px, 347px, 0px, -347px, 40px, 40px, 512px, 1069px, 'sprite.png');
$spr-google-plus : (0px, 179px, 0px, -179px, 40px, 40px, 512px, 1069px, 'sprite.png');
$spr-google-plus_hover : (0px, 515px, 0px, -515px, 40px, 40px, 512px, 1069px, 'sprite.png');
$spr-linkedin-logo : (0px, 263px, 0px, -263px, 40px, 40px, 512px, 1069px, 'sprite.png');
$spr-linkedin-logo_hover : (0px, 305px, 0px, -305px, 40px, 40px, 512px, 1069px, 'sprite.png');
$spr-mastercard-icon : (0px, 66px, 0px, -66px, 30px, 20px, 512px, 1069px, 'sprite.png');
$spr-paypal-icon : (0px, 44px, 0px, -44px, 30px, 20px, 512px, 1069px, 'sprite.png');
$spr-to-right-arrow : (0px, 110px, 0px, -110px, 35px, 25px, 512px, 1069px, 'sprite.png');
$spr-twitter-bird-logo : (0px, 473px, 0px, -473px, 40px, 40px, 512px, 1069px, 'sprite.png');
$spr-twitter-bird-logo_hover : (0px, 221px, 0px, -221px, 40px, 40px, 512px, 1069px, 'sprite.png');
$spr-visa-icon : (0px, 22px, 0px, -22px, 29px, 20px, 512px, 1069px, 'sprite.png');
