$spr-amazon-icon : (514px, 93px, -514px, -93px, 29px, 20px, 549px, 512px, 'sprite.png');
$spr-bag : (0px, 0px, 0px, 0px, 512px, 512px, 549px, 512px, 'sprite.png');
$spr-big-youtube-logo : (514px, 291px, -514px, -291px, 20px, 20px, 549px, 512px, 'sprite.png');
$spr-big-youtube-logo_hover : (514px, 269px, -514px, -269px, 20px, 20px, 549px, 512px, 'sprite.png');
$spr-citi-icon : (514px, 49px, -514px, -49px, 30px, 20px, 549px, 512px, 'sprite.png');
$spr-facebook-logo : (536px, 247px, -536px, -247px, 10px, 20px, 549px, 512px, 'sprite.png');
$spr-facebook-logo_hover : (536px, 225px, -536px, -225px, 11px, 20px, 549px, 512px, 'sprite.png');
$spr-google-plus : (514px, 137px, -514px, -137px, 26px, 20px, 549px, 512px, 'sprite.png');
$spr-google-plus_hover : (514px, 159px, -514px, -159px, 26px, 20px, 549px, 512px, 'sprite.png');
$spr-linkedin-logo : (514px, 225px, -514px, -225px, 20px, 20px, 549px, 512px, 'sprite.png');
$spr-linkedin-logo_hover : (514px, 247px, -514px, -247px, 20px, 20px, 549px, 512px, 'sprite.png');
$spr-mastercard-icon : (514px, 71px, -514px, -71px, 30px, 20px, 549px, 512px, 'sprite.png');
$spr-paypal-icon : (514px, 27px, -514px, -27px, 30px, 20px, 549px, 512px, 'sprite.png');
$spr-to-right-arrow : (514px, 0px, -514px, 0px, 35px, 25px, 549px, 512px, 'sprite.png');
$spr-twitter-bird-logo : (514px, 181px, -514px, -181px, 25px, 20px, 549px, 512px, 'sprite.png');
$spr-twitter-bird-logo_hover : (514px, 203px, -514px, -203px, 25px, 20px, 549px, 512px, 'sprite.png');
$spr-visa-icon : (514px, 115px, -514px, -115px, 29px, 20px, 549px, 512px, 'sprite.png');
